<a href="https://colab.research.google.com/github/arulbenjaminchandru/roadtods/blob/main/Day1_Python_Numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.

In [1]:
length = 92
width = 48.8

area = length * width

print(area)

4489.599999999999

You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?

In [2]:
pack_of_potato_chips = 1.49
giving_to_shop = 20
total_pack = 9

remain_bal = giving_to_shop - (pack_of_potato_chips * total_pack)

print(remain_bal)

6.59


You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)

In [4]:
total_area = 5.5 ** 2

total_cost = total_area * 500

print(total_cost)

15125.0

Print binary representation of number 17

In [9]:
num = 17

print(bin(17))

print(format(num,'b'))

0b10001
10001