<a href="https://colab.research.google.com/github/arulbenjaminchandru/roadtods/blob/main/Day_1_Python_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see.

In [ ]:
break = 5

SyntaxError: ignored

Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

In [19]:
from datetime import *

birth_year = 1989
current_year = datetime.now().year

age = current_year - birth_year

print(age)

34

Store your first, middle and last name in three different variables and then print your full name using these variables

In [24]:
first_name = "Arul"
middle_name = "Benjamin"
last_name = "Chandru"

full_name = "{} {} {}".format(first_name,middle_name,last_name)

full_name_join = "|".join([first_name,middle_name,last_name])

full_name_perc = "% s % s % s" % (first_name, middle_name, last_name)

print(full_name)
print(full_name_join)
print(full_name_perc)

Arul Benjamin Chandru
Arul|Benjamin|Chandru
Arul Benjamin Chandru

Answer which of these are invalid variable names: _nation 1record record1 record_one record-one record^one continue

In [27]:
_nation = "Test"

1record = ""

SyntaxError: ignored

In [30]:
record1 = "Test"

record_one = ""

record-one = ""

SyntaxError: ignored

In [31]:
record^one = ""

SyntaxError: ignored

In [32]:
continue = ""

SyntaxError: ignored